<h1>Sign up</h1>

<form action="/users/create" method="POST">
    <ul>
        <li style="list-style-type: none; padding-bottom: 8px;">
            <label  style=" display: inline-block; width: 14%; " for="">Name</label>
    <input type="text" placeholder="Enter your name" name="name" required>
        </li>
        <li style="list-style-type: none; padding-bottom: 8px;">
            <label  style=" display: inline-block; width: 14%;" for=""> Email</label>
            <input type="email" name="Password" placeholder="Enter Email" required>
        </li>
        <li style="list-style-type: none;">
            <label  style=" display: inline-block; width: 14%;" for=""> Password</label>
            <input type="password" name="Password" placeholder="Enter Password" required>
        </li>
        <li style="list-style-type: none;">
            <label style=" display: inline-block; width: 14%;">Confirm Password</label>
            <input type="password" name="Password" placeholder="Enter Password" required>
        </li>
        <li style="list-style-type: none;"">
            <input type="submit" value="signup">
        </li>

    </ul>
    
   
</form>